<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunkesoftware.www.adm.mapper.TopicItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yunkesoftware.www.adm.entity.TopicItem">
        <id column="id" property="id" />
        <result column="topic_id" property="topicId" />
        <result column="title" property="title" />
        <result column="seq" property="seq" />
        <result column="answer_flag" property="answerFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, topic_id, title, seq, answer_flag, create_time, update_time
    </sql>
    <insert id="insertBatch">
        INSERT INTO topic_item (id, topic_id, title, seq, answer_flag) VALUES
        <foreach collection="dataList" item="item" separator=",">
            (#{item.id}, #{item.topicId}, #{item.title}, #{item.seq}, #{item.answerFlag})
        </foreach>
    </insert>

</mapper>
