PORT=6003
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=city-walk
DB_USER=root
DB_PASSWORD=123456
TOKEN_NAME=hy-token
PUBLIC_FILE_BASE_URL=http://127.0.0.1:6003
WX_MP_APP_ID=
WX_MP_SECRET=
COS_BUCKET=
COS_REGION=
COS_ACCESS_KEY=
COS_SECRET_KEY=
