<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunkesoftware.www.web.mapper.DailyTaskActionTokenMapper">
    <select id="selectForUpdate" resultType="com.yunkesoftware.www.web.entity.DailyTaskActionToken">
        SELECT * FROM daily_task_action_token WHERE token_hash = #{tokenHash} LIMIT 1 FOR UPDATE
    </select>
</mapper>
