<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunkesoftware.www.web.mapper.PosterGenerationMapper">
    <select id="selectCache" resultType="com.yunkesoftware.www.web.entity.PosterGeneration">
        SELECT * FROM poster_generation
        WHERE user_id = #{userId} AND template_id = #{templateId}
          AND template_version = #{templateVersion} AND input_sha256 = #{inputSha256}
        LIMIT 1
    </select>
</mapper>
