<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunkesoftware.www.web.mapper.TopicRecordSingleItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yunkesoftware.www.web.entity.TopicRecordSingleItem">
        <result column="topic_record_single_id" property="topicRecordSingleId" />
        <result column="topic_item_id" property="topicItemId" />
        <result column="topic_item_title" property="topicItemTitle" />
        <result column="check_flag" property="checkFlag" />
        <result column="answer_flag" property="answerFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        topic_recordsingle_id, topic_item_id, topic_item_title, check_flag, answer_flag
    </sql>
    <insert id="insertBatch">
        INSERT INTO topic_record_single_item
        (topic_record_single_id, topic_item_id, topic_item_title, check_flag,answer_flag) VALUES
        <foreach item="item" collection="dataList" separator=",">
            (#{item.topicRecordSingleId}, #{item.topicItemId}, #{item.topicItemTitle}, #{item.checkFlag},
            #{item.answerFlag})
        </foreach>
    </insert>

</mapper>
