<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunkesoftware.www.web.mapper.TopicRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yunkesoftware.www.web.entity.TopicRecord">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="topic_activity_id" property="topicActivityId" />
        <result column="topic_activity_title" property="topicActivityTitle" />
        <result column="topic_line_id" property="topicLineId" />
        <result column="topic_line_title" property="topicLineTitle" />
        <result column="reward_amount" property="rewardAmount" />
        <result column="used_time" property="usedTime" />
        <result column="right_num" property="rightNum" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, topic_activity_id, topic_activity_title, topic_line_id, topic_line_title, reward_amount, used_time, right_num, create_time
    </sql>
    <select id="countGtTotalRewardAmount" resultType="java.lang.Integer">
        SELECT COUNT(user_id) FROM topic_record
        WHERE topic_activity_id = #{topicActivityId} AND user_id != #{userId}
        GROUP BY user_id
    </select>

    <select id="listLineId" resultType="java.lang.String">
        SELECT topic_line_id
        FROM topic_record
        WHERE topic_activity_id = #{topicActivityId}
          AND user_id = #{userId}
          AND DATE_FORMAT(create_time, '%Y-%m-%d') = #{dateParam}
    </select>

</mapper>
