<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunkesoftware.www.web.mapper.UserWalletMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yunkesoftware.www.web.entity.UserWallet">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="type" property="type"/>
        <result column="amount" property="amount"/>
        <result column="version" property="version"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id , user_id, type, amount, version
    </sql>
    <select id="pageRank" resultType="com.yunkesoftware.www.web.vo.WalletRankVo">
        SELECT uw.amount AS totalRewardAmount,
            yu.nick_name
        FROM user_wallet uw
        LEFT JOIN yk_user yu ON uw.user_id = yu.id
        ORDER BY uw.amount DESC
    </select>

    <select id="selectIntegralForUpdate" resultMap="BaseResultMap">
        SELECT id, user_id, type, amount, version
        FROM user_wallet
        WHERE user_id = #{userId} AND type = #{type}
        LIMIT 1 FOR UPDATE
    </select>

</mapper>
