<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunkesoftware.www.web.mapper.VideoActivityVideoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yunkesoftware.www.web.entity.VideoActivityVideo">
        <result column="video_activity_id" property="videoActivityId" />
        <result column="video_id" property="videoId" />
        <result column="reward_amount" property="rewardAmount" />
        <result column="seq" property="seq" />
        <result column="min_time" property="minTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        video_activity_id, video_id, reward_amount, seq, min_time
    </sql>
    <select id="pageByQuery" resultType="com.yunkesoftware.www.web.entity.Video">
        SELECT
            v.id,
            v.title,
            v.descr,
            v.status,
            v.url_video,
            v.url_pic,
            vav.min_time,
            vav.reward_amount
            FROM video_activity_video vav
        LEFT JOIN video v ON v.id = vav.video_id
        WHERE vav.video_activity_id = #{param.activityId} AND v.status = 1
        ORDER BY vav.seq ASC
    </select>

</mapper>
